.tabs {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50px;
  border: 1px solid #dfe5ec;
  border-radius: 5px;
}

.tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-sizing: border-box;
  flex: 1 0 auto;
  cursor: pointer;
  height: 100%;
  text-transform: uppercase;
}

.tabs :first-child {
  border-radius: 5px 0 0 5px;
}
.tabs :last-child {
  border-radius: 0 5px 5px 0;
}

.tabs .tabIsActive {
  background: #2196f3;
  color: white;
  border: 1px solid #2196f3;
}
